<div class="app-container">
  <div class="sidebar">
    <h2>Neolians</h2>
    <a routerLink="/chef-proj/dashboard" routerLinkActive="active" [class.active]="currentView === 'home'" (click)="setCurrentView('home')">
      <i class="fas fa-home icon"></i> Tableau de Bord
    </a>

    <!-- Projet Neolianse -->
    <a routerLink="/chef-proj/projet1" routerLinkActive="active" [class.active]="currentView === 'projet1'" (click)="setCurrentView('projet1')">
      <i class="fas fa-project-diagram icon"></i> Projet Neolianse
    </a>

    <!-- Équipe Neolianse -->
    <a routerLink="/chef-proj/equipe-projet1" routerLinkActive="active" [class.active]="currentView === 'equipe-projet1'" (click)="setCurrentView('equipe-projet1')">
      <i class="fas fa-users icon"></i> Équipe Neolianse
    </a>

    <!-- Assignement des utilisateurs à Neolianse -->
    <a routerLink="/chef-proj/assign-projet1" routerLinkActive="active" [class.active]="currentView === 'assign-projet1'" (click)="setCurrentView('assign-projet1')">
      <i class="fas fa-user-plus icon"></i> Assignement des utilisateurs à Neolianse
    </a>
  </div>

  <div class="main">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

