<!-- Landing Page -->
<div class="landing-page">
  <div class="button-container">
    <button class="logout-button" (click)="logout()">
      <i class="fa fa-sign-out"></i> Logout
    </button>
  </div>
</div>

<!-- Layout Container -->
<div class="layout-container">
  <!-- Hamburger Button -->
  <button
    *ngIf="shouldShowHamburger()"
    class="hamburger"
    [class.rotated]="isCollapsed"
    (click)="toggleNavbar()"
  >
    <i class="fa fa-bars"></i>
  </button>

  <!-- Navbar -->
  <div class="navbar-container" [class.collapsed]="isCollapsed">
    <!-- Menu -->
    <div *ngIf="shouldShowNavbar()">
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/Logo_Neo_TM.PNG" alt="Logo Neo-TM" class="logo" />
      </div>

      <nav>
        <ul class="menu-list">
          <li>
            <a
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="fa fa-home"></i> Tableau de bord
            </a>
          </li>
          <li>
            <a routerLink="/gestionnaire-de-doc" routerLinkActive="active">
              <i class="fa fa-file"></i> Gestionnaire de documents
            </a>
          </li>
          <li>
            <a routerLink="/g-de-campagne" routerLinkActive="active">
              <i class="fa fa-tasks"></i> Gestionnaire de campagnes
            </a>
          </li>
          <li>
            <a routerLink="/g-dexecution" routerLinkActive="active">
              <i class="fa fa-calendar-check"></i> Gestionnaire d'exécutions
            </a>
          </li>
          <li class="submenu">
            <a
              routerLink="javascript:void(0)"
              (click)="toggleSubMenu('administration')"
            >
              <i class="fa fa-user-cog"></i> Administration
            </a>
            <ul *ngIf="subMenus['administration']" class="submenu-list">
              <li>
                <a routerLink="/gestion-utilisateur" routerLinkActive="active"
                  ><i class="fa fa-users"></i> Gestion des utilisateurs</a
                >
              </li>
              <li>
                <a routerLink="/gestion-licences" routerLinkActive="active"
                  ><i class="fa fa-cogs"></i> Gestion des licences</a
                >
              </li>
              <li>
                <a routerLink="/audit-suivi" routerLinkActive="active"
                  ><i class="fas fa-clipboard-check"></i> Audit et suivi</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-container" [class.full-width]="isCollapsed">
    <router-outlet></router-outlet>
  </div>
</div>
