<div class="navbar-container" [class.collapsed]="isCollapsed">
  <!-- Menu -->
  <div *ngIf="!isCollapsed">
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/Logo_Neo_TM.PNG" alt="Logo Neo-TM" class="logo" />
    </div>

    <nav>
      <ul class="menu-list">
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        <li>
          <a routerLink="/gestionnaire-de-doc" routerLinkActive="active">
            <i class="fa fa-file"></i> Gestionnaire de document
          </a>
        </li>
        <li>
          <a routerLink="/g-de-campagne" routerLinkActive="active">
            <i class="fa fa-tasks"></i> Gestionnaire de campagne
          </a>
        </li>
        <li>
          <a routerLink="/g-dexecution" routerLinkActive="active">
            <i class="fa fa-calendar-check"></i> Gestionnaire d'exécutions
          </a>
        </li>
        <li>
          <a routerLink="/administration" routerLinkActive="active">
            <i class="fa fa-user-cog"></i> Administration
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
